---
---

<section class="bg-primary py-32">
  <div class="mx-auto max-w-7xl px-8">
    <div
      class="bg-primary-container relative overflow-hidden rounded-[2rem] p-12 shadow-2xl lg:p-24"
    >
      <!-- Decor -->
      <div
        class="absolute top-0 right-0 -mt-32 -mr-32 h-64 w-64 rounded-full bg-white/5"
      >
      </div>
      <div
        class="absolute bottom-0 left-0 -mb-32 -ml-32 h-64 w-64 rounded-full bg-white/5"
      >
      </div>
      <div class="relative z-10 mx-auto max-w-4xl text-center">
        <span
          class="material-symbols-outlined text-primary-foreground mb-6 text-5xl opacity-50 lg:text-7xl"
          >format_quote</span
        >
        <h2
          class="font-heading text-primary-foreground mb-10 text-3xl leading-tight font-black tracking-tighter sm:text-5xl lg:text-6xl"
        >
          "Keamanan Bisnis Anda Adalah Komitmen Mutlak Kami."
        </h2>
        <div
          class="bg-primary-foreground mx-auto mb-10 h-1.5 w-24 rounded-full opacity-30"
        >
        </div>
        <p
          class="text-primary-foreground font-sans text-lg font-medium opacity-90 sm:text-xl lg:text-2xl"
        >
          Satu-satunya Layanan dengan <span class="font-bold underline"
            >Protokol Zero-Spill™</span
          >: Standar Pengamanan Berlapis yang Menjamin Integritas Lingkungan di Setiap Kilometer.
        </p>
      </div>
    </div>
  </div>
</section>
